body {
    background-color:azure;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.music-player {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h1 {
    color: #333;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cover img {
    max-width: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.controls button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #258cd1;
}

audio {
    width: 100%;
    max-width: 300px;
}
@media screen and (max-width:600px ){
    body{
        background-size: auto;
    }
    button{
        height: 40px;
        width:80px;
    }
  }